<html>
<head>
	<title>Client</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body class="neutral">
	<div class="container">
		<header>
			<h1>Client
			<span>Socket.io client, showing all traffic</span>
		</h1>
		</header>
		<ul class="log">
		</ul>	
		<form id="frmForm" action="/" method="post">
			<input type="text" id="txtMessage" />
			<select id="selChannel" style="width:220px;">
				<option value="news">RFID</option>
			</select>
			<input type="submit" value="Emit" />
		</form>
	</div>
	<script>
	  var socket = io.connect('http://rfid-realtime.azurewebsites.net');
	  socket.on('news', function (data) {
	    console.log(data);
	    $('.log').append('<li>' + data.message + '</li>')
	  });

	  $('#frmForm').submit(function(e){
	  		e.preventDefault();

	  		var mss = $('#txtMessage').val();
	  		var channel = $('#selChannel').val();

	  		console.log('emit: ' + mss + ' on ' + channel);

	  		socket.emit(channel, {message: mss});
	  	});
	</script>
</body>
</html>